#include "console_resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#ifndef __BORLANDC__
#ifdef __AFXRES_H__
#include "afxres.h"
#else
#include "winres.h"
#endif
#endif

/* Icon */
ID_ICON1                ICON    DISCARDABLE     "win32/logo01.ico"

